
<div class="table-container">
      <div class="header-info">
    <p class="table-description">
      Liste des avis. Cliquez sur l’icône 👁 pour visualiser un commentaire complet.
    </p>
    <button mat-stroked-button color="warn" class="reset-button" (click)="resetFilters()">
      Réinitialiser les filtres
    </button>
  </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2 custom-table">

        <ng-container *ngFor="let col of cols" [matColumnDef]="col.name">
        
            <!-- Header -->
            <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.filterType">
                <div class="header-cell-wrapper">
                    <div class="header-cell-content" mat-sort-header>
                        <span class="header-title">{{ col.header }}</span>
                    </div>
                    <ng-container>
                    <mat-form-field *ngSwitchCase="'between'" class="filter-field" appearance="outline">
                        <input matInput [matDatepicker]="picker" [formControl]="filterControls[col.name]" placeholder="Choisir date" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <input *ngSwitchDefault class="filter-field" [formControl]="filterControls[col.name]" />
                    </ng-container>
                </div>
            </th>

        
            <!-- data cell (body) -->
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="col.name === 'rating'; else otherContent">
                    {{ row[col.field] }} /5
                </ng-container>

                <ng-template #otherContent>
                    <ng-container *ngIf="col.filterType === 'between'; else defaultText">
                    {{ col.subfield
                        ? (row[col.field]?.[col.subfield] | date: 'dd-MM-yyyy')
                        : (row[col.field] | date: 'dd-MM-yyyy') }}
                    </ng-container>
                    <ng-template #defaultText>
                        <ng-container *ngIf="col.name === 'comment'; else normalText">
                            <span
                                [matTooltip]="col.subfield ? row[col.field]?.[col.subfield] : row[col.field]"
                                matTooltipPosition="above"
                            >
                                {{
                                    (col.subfield ? row[col.field]?.[col.subfield] : row[col.field]) | slice: 0:50
                                }}{{ (col.subfield ? row[col.field]?.[col.subfield] : row[col.field])?.length > 50 ? '...' : '' }}
                            </span>
                        </ng-container>

                        <ng-template #normalText>
                            {{ col.subfield ? row[col.field]?.[col.subfield] : row[col.field] }}
                        </ng-template>
                    </ng-template>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <span class="header-title"></span>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-icon class="view-icon" title="Voir le commentaire" (click)="viewComment(row)">visibility </mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="custom-header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container *matNoDataRow>
            <tr>
                <td [attr.colspan]="displayedColumns.length" style="text-align: left; padding: 20px; color: #000000;">
                    Aucune donnée disponible.
                </td>
            </tr>
        </ng-container>
    </table>
    <mat-paginator
         [hidePageSize]="true"
        [length]="dataSource.data.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
    </mat-paginator>
</div>
