<div class="home-container">
    <div class="image-wrapper">
      <img src="/images/background-sky.png" alt="Vue avion" class="circle-image" />
    </div>
  
    <div class="welcome-section">
      <h1>Bienvenue sur Flight Review</h1>
      <p>
        Partagez votre expérience de vol ou consultez les avis des autres voyageurs.
      </p>
  
      <div class="buttons">
        <button  [routerLink]="['/submit-review']">Laisser un avis</button>
        <button [routerLink]="['/view-reviews']">Voir les avis</button>

      </div>
    </div>
</div>
  